html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5625;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}