#wrapper {
  position: relative;
  padding: 0;
  overflow: hidden overlay;
}

.portlet-column-content-only {
  & > .portlet-boundary {
    & > .portlet {
      max-width: 1140px;
      @include make-container();
    }
  }
}